:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 10vw;
  height: 100vh;
}


body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  width: 100vw;
}